.datasheet{
    
    text-align: center;
    background-color: white;
    padding:20px 10px 70px 10px;
    margin:auto;
    width: 20vw;
    height:20vh;
    box-shadow: 1px 1px 20px 10px rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    border: none;
}
.empty{
    
    text-align: center;
    background-color: white;
    padding:20px 10px 70px 10px;
    margin:auto;
    width: 70vw;
    height:20vh;
    box-shadow: 1px 1px 20px 10px rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    border: none;
}
header{
    padding-bottom:100px;
}
.delete{
    background-color: red;
    padding:10px;
    width:150px;
}

.create{
    background: #0275d8;
    color:white;
    padding:10px;
    width:150px;
}

.passwordlist{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}


@media only screen and (min-width:768px){

    .empty{
        width:30vw;
    }
}


@media only screen and (max-width:425px){
    .passwordlist{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
    }
    .empty{
        width:30vw;
    }
    .datasheet{
    
   
    width: 40vw;
    height:20vh;
}
}



@media only screen and (max-width:375px){
    header{
        padding-bottom:3rem ;
    }
    .passwordlist{
        display:grid;
        grid-template-columns: 1fr;
        gap:10px;
    }
    .empty{
        width:30vw;
    }
    .datasheet{
    
   
    width: 60vw;
    height:20vh;
  
}
}